.row {
}

@media (max-width: 1300px) {
  .showStatex {
    display: block !important;
  }
}

@media (max-width: 750px) {
  .autosync {
    padding: 10px !important;
    padding-top: 70px !important;
    text-align: center !important;
  }
}

.showStatex {
  display: none;
}

@media (max-width: 750px) {
  .autosyncx {
    padding: 10px !important;
    text-align: center !important;
  }
}

